body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6b69d6 no-repeat center;
  background-size: cover;
  background-image: url("https://lsk.icu/bimg.php");
  filter: brightness(0.6);
  z-index: -1; /* 确保背景在内容后面 */
}
:root{
    --primary: rgb(230, 229, 241)
}